/* Smaller views (phones, 600px and down) */
@media only screen and (max-width: 600px) {  

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-family: "Lato", sans-serif;
		background-color:aliceblue;
		display: flex;
		flex-direction: column;
	}
	header {
		background-color: rgba(73, 240, 240, 0.716);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid white;
	}
	header,
	main {
		margin: 0 auto;
	}
	header h1 {
		display:block;
		text-align: center;
		font-size: 1.5rem;
	}
	header h1 #course-title {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	header h1 #student-name {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 2.5rem;
	}
	
	nav {
		background-color: yellow;
		margin: 0 auto;
		max-width: 800px;
	}
	nav ul {
		list-style-type: none;
	}
	nav a {
		display: block;
		color: black;
		text-align: center;
		padding: 1rem;
	}
	
	nav a:hover {
		color: rgb(236, 18, 26);
	}    
 
}
   
/* Larger Views ******************************/
@media only screen and (min-width: 601px) {
	* {
		margin: 0;
		padding: 0;
	}
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px 3fr 1fr;
		font-family: "Lato", sans-serif;
		background-color: aliceblue;
		width: 100%;
	}
	header {
		display: grid;
		grid-template-rows: 100px 100px;
		border: 1px solid white;
		background-color: rgba(73, 240, 240, 0.716);
	}
	header	h1 {
		display: inline-block;
		grid-row-start:1;
		grid-row-end:2;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 2.5rem;
		font-weight: bold;
	}
	h1 #course-title {
		margin-right: 25px;
	}
	h1 #student-name {
		margin-left: 25px;
	}
	nav {
		display:grid;
		grid-row-start:2;
		grid-row-end:3;
		width: 100%;
		background-color: yellow;
		margin: 0 auto;
	}
	
	nav ul {
		list-style-type: none;
		display:flex;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}
	nav ul li a {
		display:grid;
		color: black;
		text-align: center;
		padding:1.5rem;
		font-weight: bold;
		font-size:2.0em;
		margin:0;
	}
	nav a:hover {
		color: rgb(236, 18, 26);
	}
	main{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height:max-content
	}
	h2 {
		font-size: 2.5rem;
	}
	.card {
		background-color: white;
		margin: 1rem;
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.card img {
		float:right;
	}

	.card h2 {
		font-size: 2.5em;
		font-weight:bold;
	}
	.card p{
		font-size:1.5em;

	}
	.card ul {
		list-style-type: none;
	}
	.card un li{
		height:100px;
	}
	.card ul li a{
		font-size: 2.0em;
		font-weight: bold;
		padding: 2rem;
		margin-bottom: 200px;
		line-height: 80px;
	}
	.card ul li a:hover{
		text-decoration-color: burlywood;
	}
	.card ul li a:active{
		text-decoration-color: burlywood;
	}
	footer {
		background-color: rgba(73, 240, 240, 0.716);
		display: list-item;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid white;
	}
	footer p {
		font-size: 1.5rem;
		text-align: center;
		justify-content: center;
		font-weight: bold;
	}
}


