/* Smaller views (phones, 600px and down) */
@media only screen and (max-width: 600px) {  

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-family: "Lato", sans-serif;
		background-color:aliceblue
	}
	header {
		background-color: rgba(73, 240, 240, 0.716);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid white;
	}
	header,
	main {
		margin: 0 auto;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	
	nav {
		background-color: yellow;
		margin: 0 auto;
		max-width: 800px;
	}
	nav ul {
		list-style-type: none;
	}
	nav a {
		display: block;
		color: black;
		text-align: center;
		padding: 1rem;
		text-decoration: none;
	}
	
	nav a:hover {
		text-decoration:overline;
	}    
 
}
   
/* Larger Views ******************************/
@media (min-width: 640px) {
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: "Lato", sans-serif;
		display: grid;
		background-color:aliceblue;
		grid-template-rows:1fr 5fr 1fr;
	}
	header {
		background-color: rgba(73, 240, 240, 0.716);
		display: grid;
		grid-template-rows: 1fr 1fr;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid white;
	}
	h1 {
		display: grid;
		grid-row-start:1;
		grid-row-end:2;
		font-size: 2rem;
	}
	nav {
		display:grid;
		grid-row-start:2;
		grid-row-end:3;
		width: 100%;
		background-color: yellow;
		margin: 0 auto;
	}

	nav ul {
		list-style-type: none;
		display:flex;
		justify-content: space-around;
		padding: 0;
		margin: 0;
	}
	

	nav ul li a {
		display:grid;
		color: black;
		text-align: center;
		padding:1.5rem;
		font-weight: bold;
		font-size:2.0em;
		margin:0;
		text-decoration: none;
	}
	
	nav a:hover {
		text-decoration:overline;
	}
	main{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height:max-content
	}
	h2 {
		font-size: 2.5rem;
	}
	.card {
		background-color: white;
		margin: 1rem;
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.card img {
		float:right;
	}

	.card h2 {
		font-size: 2.5em;
		font-weight:bold;
	}
	.card p{
		font-size:1.5em;

	}
	.card ul {
		list-style-type: none;
	}
	.card un li{
		height:100px;
	}
	.card ul li a{
		font-size: 2.0em;
		font-weight: bold;
		padding: 2rem;
		margin-bottom: 200px;
		line-height: 80px;
	}
	.card ul li a:hover{
		text-decoration:overline;
	}
	.card ul li a:active{
		text-decoration:underline;
	}
	footer {
		background-color: rgba(73, 240, 240, 0.716);
		display: list-item;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border: 1px solid white;
	}
	footer p {
		font-size: 1.5rem;
		text-align: center;
		justify-content: center;
		font-weight: bold;
	}
}
