@media screen and (max-width: 720px) {
    #menu-button {
        font-size: 1.5rem;
	    border: 0;
	    background: none;
	    color: #000;
	}
    #menu-button::before {
        content: "☰";
        font-size:1.5em;
        font-weight:bold;
    }
    #menu-button.open::before {
        content: "❌";
    }
    .menu {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        list-style:none;
        background-color:aliceblue;
        color:blue;
        font-size:25px;
        font-weight:bold;
		font-family: 'Lato', sans-serif;
    }
    .menu a { 
        display:none;
        padding:1rem;
        text-align:left;
        text-decoration:none;
        margin-bottom:auto;
        color: blue;
    }
    .menu a:hover {
        background-color: rgba(255, 255, 255, 0.969);
        color:brown;
        font-weight:bold;
    }
    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
	    display: block;
    }
    .active::before { 
	    content: "📍";  /* just a wayfinding symbol for the user */
    }
    main section{
        display:grid;
        border:blue 5px;
        border-style:solid;
        background-color: #f3f3f3;
        margin-top:20px;
        margin-bottom:20px;
		font-family: 'Arial', sans-serif;
    }
    main img{
        height:250px;
        width:400px;
        object-fit:cover;
        margin: 20px 20px 20px 20px;
    }
    .main-temples{
        display:grid;
        height:100%;
        font-size:25px;
        color:blue;
        font-weight:bold;
        background-color: #f3f3f3;
    }

    footer p{
        text-align:center;
        font-size:1.5em;
        color:blue;
        font-weight:bold;
    }
}


